<h1>Eat-Da-Burger</h1>




<ul>
  {{#each burgers}}{{this.id}}.{{this.burger_name}}<button class="devour" name="devour!" data-id="{{id}}" data-devour={{devoured}}>
		{{!-- {{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}} --}}
	devour</button></br>{{/each}}
</li>
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>


  <button type="submit">Add Burger</button>
</form>
