<li>
{{this.burger_name}}
	<button class="devour" data-id="{{id}}" data-devour="{{devoured}}">
		{{#if devoured}}{{else}}Eat-da-BURGER!{{/if}}
	</button>

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>

{{!-- {{this.burger_name}}<button class="devour" name="devour" data-id="{{id}}" data-devour={{devoured}}>Devour!</button></br>{{/each}}  --}}