<li>
{{this.burger_name}}
	<button class="devour" data-id="{{id}}" data-devour="{{devoured}}">
		{{#if devoured}}{{else}}Mange le burger{{/if}}
	</button>

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>

